---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import { slide, fade } from "astro:transitions";
import Hero from '@/components/Hero.astro';
import { ViewTransitions } from 'astro:transitions';
import BotonesContacto from '@/components/BotonesContacto.vue';
import GoTop from '@/components/GoTop.vue';

import '@/styles/style.css';
import '@/styles/style2.css';
import '@/styles/responsive.css';
import '@/styles/bootstrap.css';

interface Props {
	title: string;
	canonical: string;
	metaTitle: string;
	metaDescription: string;
	metaImg: string;
	bodyClass: string;
	background: string;
}

const { 
	title,
	canonical,
	metaTitle,
	metaDescription,
	metaImg,
	bodyClass,
	background,
} = Astro.props;

---
<script>
import 'bootstrap/dist/js/bootstrap.bundle.min.js';
</script>
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- Preload Images -->
		<link rel="preload" as="image" href={background} />
		
		<!-- Theme Stylesheets -->
		<!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/style2.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css"/> -->

		<!-- Plugins Stylesheets -->
		<!-- <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css"/> -->
		<link rel="stylesheet" type="text/css" href="assets/css/all.min.css"/>

		<!-- Favicon -->
		<link rel="icon" href="assets/images/faviconx64.png" type="image/png" />
		
		<!-- Document title -->
		<title>{title}</title>
		<link rel="canonical" href={canonical} />
		<!-- GOOGLE -->
		<meta name="title" content={metaTitle} />
		<meta name="description" content={metaDescription}/>
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Expires" content="Mon, 01 Jul 1970 00:00:00 GMT" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		 <!-- FACEBOOK OPEN GRAPH TAGS -->
		<meta property="og:title" content={metaTitle} />
		<meta property="og:description" content={metaDescription} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonical} />
		<meta property="og:image" content={metaImg} />
		<!-- Twitter -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@" />
		<meta name="twitter:title" content={metaTitle} />
		<meta name="twitter:description" content={metaDescription} />
		<meta name="twitter:url" content={canonical} />
		<meta name="twitter:image" content={metaImg} />
		<ViewTransitions />
	</head>
	<body class={bodyClass}>
		<!-- Header Start -->
		<Header />
		<!-- Content Start -->
		<Hero background={background}>
			<h1 transition:animate={slide({ duration: '0.5s' })} slot="titulo">Publicidad, diseño y </br><em>marketing digital</em></h1>
			<p transition:animate={fade({ duration: '1s' })} slot="descripcion" >Publicidad en internet, diseño de páginas web, creación de contenido y administración de redes sociales, diseño de logos y cartelería</p>
			<a transition:animate="slide" slot="boton" href="#contact" class="btn btn-primary">Contáctenos</a>
		</Hero>
		<slot />
		<!-- Footer Start -->
		<Footer />
		<GoTop client:only="vue" />
		<BotonesContacto client:only="vue" />
	</body>
</html>
<style is:global>
@media (min-width: 992px) {
	.hero .slide-content {
		min-height: 100vh;
	}
}
.media-body a h5:hover {
	color:var(--my-color);
	text-decoration: none;
}
.media-body a:hover {
	text-decoration: none;
}

/* HTML: <div class="loader"></div> */
.loader-anim {
	position:absolute;
	right: calc(50% - 37.5px);
	bottom: 50%;
	z-index: 99999999;
	height: 15px;
	aspect-ratio: 3.5;
	--_g: no-repeat radial-gradient(farthest-side,#fff 90%,#fff);
	background:var(--_g), var(--_g), var(--_g), var(--_g);
	background-size: 15% 50%;
	animation: l43 1s infinite linear; 
}
@keyframes l43 {
  0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
  66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
  83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
  100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
}

</style>
